<ion-content [fullscreen]="true">
  <br>
  <ion-item lines="none">
    <ion-label>
     <p>
      <b>nitakhetre_10</b>
     </p>
     <ion-icon name="arrow-dropdown"></ion-icon>
  </ion-label>
    <ion-avatar>
      <img src="../../assets/images/nita.jpg">
    </ion-avatar>
  </ion-item>
  <div class="info-box">
    <div class="date-box">
      <b>260</b>
      <p>posts</p>
      </div>
      <div class="date-box">
        <b>9999</b>
        <p>fllowers</p>
        </div>
        <div class="date-box">
          <b>7000</b>
          <p>following</p>
          </div>
  </div>
<ion-button size="small" shape="round" class="text-button">Edit Profile</ion-button>
 <ion-button ></ion-button>
</ion-content>
