<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark">
        <img  style="height: 36px" src="../../assets/images/camera.png"> </ion-button>
      </ion-buttons>
    <ion-title>
      <img src="assets/images/insta.png">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <img  style="height: 36px" src="../../assets/images/send.png"> </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <div class="stories">
    <div class="story">
      <div  style= "margin: 1px 10px 1px 1px">
        <ion-avatar slot="start" >
          <img src= "../../assets/images/nitu.jpg">
           <ion-icon  
          name="add-circle"
          size="large"
          color="primary" 
       class="custom-icon"
         ></ion-icon>
         </ion-avatar>       
        <p>Your Story</p> 
      </div>


    </div>
    <div class="story">
      <div  style= "margin: 1px 10px 1px 1px">
        <ion-avatar slot="start" >
          <img class="img-box" src= "../../assets/images/nita.jpg">
         </ion-avatar>
      </div>
      <p>nitakhetre_10</p>
    </div>
    <div class="story">
      <div  style= "margin: 1px 10px 1px 1px">

        <ion-avatar slot="start"  >
          <img class="img-box" src= "../../assets/images/pravin.jpg">
         </ion-avatar>
      </div>
      <p>pravinkheter_18</p>
    </div>
    <div class="story">
      <div  style= "margin: 1px 10px 1px 1px">

        <ion-avatar slot="start" >
          <img class="img-box" src= "../../assets/images/chimu.jpg">
         </ion-avatar>
      </div>
      <p>amolake_10</p>
    </div>
    <div class="story">
      <div  style= "margin: 1px 10px 1px 1px">

        <ion-avatar slot="start" >
          <img class="img-box" src= "../../assets/images/mummy.jpg">
         </ion-avatar>
      </div>
      <p>surekha_11</p>
    </div>
    <div class="story">
      <div  style= "margin: 1px 10px 1px 1px">

        <ion-avatar slot="start" >
          <img
         class="img-box" src= "../../assets/images/sairaj.jpg">
         </ion-avatar>      </div>
      <p>sairaj_11</p>
    </div>
    <div class="story">
      <div  style= "margin: 1px 10px 1px 1px">

        <ion-avatar slot="start" >
          <img class="img-box" src= "../../assets/images/sai.jpg">
         </ion-avatar>      </div>
      <p>saikhetre_11</p>
    </div>
    <div class="story">
      <div  style= "margin: 1px 10px 1px 1px">

        <ion-avatar slot="start" >
          <img class="img-box" src= "../../assets/images/seema.jpg">
         </ion-avatar>      </div>
      <p>seemakakae_11</p>
    </div>
    <div class="story">
      <div  style= "margin: 1px 10px 1px 1px">

        <ion-avatar slot="start" >
          <img class="img-box" src= "../../assets/images/pranita.jpg">
         </ion-avatar>      </div>
      <p>pranita_11</p>
    </div>
  </div>
  <hr>
  <ion-item>
    <ion-avatar class="ion-avatar">
      <img class="img" src="../../assets/images/pravin.jpg">
    </ion-avatar>
    <ion-label>pravinkhetere_18</ion-label>
    <ion-icon name="ellipsis-vertical"></ion-icon>
  </ion-item>
  <img  class="post-img" src="../../assets/images/pranita.jpg">
<div class="flex-button">
<div>
  <ion-icon name="heart"></ion-icon>
  <ion-icon name="chatbox-ellipses"></ion-icon>
  <ion-icon name="send"></ion-icon>
</div>
  <ion-icon  slot="end" name="bookmark"></ion-icon>
</div>
  <p class="inst-text">2220 Likes</p>
  <p class="inst-text"><b>pravinkhetere_18</b>Best picture ever me.fun masti enjoy with my sweet wife.feeling loved ..blessed </p>

<ion-item>
  <ion-avatar class="ion-avatar">
    <img class="img" src="../../assets/images/nita.jpg">
  </ion-avatar>
  <ion-label>nitakhetre_10</ion-label>
  <ion-icon name="list"></ion-icon>
</ion-item>
<img  class="post-img" src="../../assets/images/nita.jpg">
<div class="flex-button">
<div>
<ion-icon name="heart"></ion-icon>
<ion-icon name="chatbubbles"></ion-icon>
<ion-icon name="send"></ion-icon>
</div>
<ion-icon  slot="end" name="bookmark"></ion-icon>
</div>
<p class="inst-text">2220 Likes</p>
<p class="inst-text"><b>nitakhetre_10</b>feeling happy .till i am in thinking about how wonder full 
  life everyone can enjoy it our own way .its best gift from god  </p>


<ion-item>
  <ion-avatar class="ion-avatar">
    <img class="img" src="../../assets/images/chimu.jpg">
  </ion-avatar>
  <ion-label>amolake_10</ion-label>
  <ion-icon name="list"></ion-icon>
</ion-item>
<img  class="post-img" src="../../assets/images/chimu.jpg">
<div class="flex-button">
<div>
<ion-icon name="heart"></ion-icon>
<ion-icon name="chatbubbles"></ion-icon>
<ion-icon name="send"></ion-icon>
</div>
<ion-icon  slot ="end"name="bookmark"></ion-icon>
</div>
<p class="inst-text">2220 Likes</p>
<p class="inst-text"><b>amolake_10</b>Best picture ever me.fun masti enjoy with my sweet sista.feeling loved ..blessed </p>
</ion-content>
